* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  overflow: hidden;
  font: 500 100em/1.4 -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2E2C33;
  background: #FBFBFD;
}

body > * {
  display: flex;
}
h1 {
  font-size: 30em;  /* 你可以根据需要更改这个值 */
}
p {
  margin-bottom: 20em;
}

span {
  opacity: 0;
}

.space {
  width: .25em;
}

@media (min-width: 500px) {
  body {
    font-size: 1.4em;
  }
}
